name: build-wasm

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: install dependencies
        run: | 
          sudo apt-get update
          sudo apt-get install -y llvm clang lld

      - name: make build-script executable
        run: chmod +x build.sh

      - name: run build script
        run: ./build.sh
